@charset "utf-8";
/* CSS Document */
#tickerContainer{ 
	clear: both;
	width: 280px;
	margin: auto;
	overflow: hidden;
}
#ticker {
	clear:both; 
	height:277px; 
	overflow:auto;
	width: 280px;
}

#ticker dt { 
	clear: both;
	padding: 5px 0px;
	overflow: hidden; 
	position:relative;
	width: 280px;
}
#ticker dt div a{
	clear: both;
	text-align: center;
	color: #fc0201;
	font-weight: bold;
	display: block;
	margin: auto;
	padding: 10px 0px;
	
}
#ticker dt img{
	width: 276px;
	margin: auto;
	padding: 1px;
	border: solid 1px #eee;
	overflow: hidden;
}


