@CHARSET "ISO-8859-1";
/* #nav, #nav ul {
    list-style:  none;
    position: relative;
}

#nav a{
    display: block;
    padding: 0px 20px;
    color: white;
    text-decoration: none;
}

#nav a:hover {
    background: url("../images/menu-over.png")repeat-x;
    color: #333;
}

#nav li{
    float: left;
    position: relative;
}
#nav li.home{
	float: left;
	background: url("../images/icon-home.png")no-repeat 10px 12px;
	width: 40px;
	overflow: hidden;
}
#nav li.home a:hover{
	float: left;
	background:none;
	width: 40px;
	overflow: hidden;
}
#nav li.select{
	background: url("../images/menu-over.png")repeat-x;
}
#nav li.select a{
	color: #333;
}
#nav li.select a:hover{
	color: #333;
}

#nav ul {
    position: absolute;
    width: 220px;
    top: 40px;
    background:#eaeaea;
    display: none;
    z-index: 1000;
    border: solid 1px #ccc;
    border-top: none;
}
#nav li ul li{
	background: none;
	border-bottom: dotted 1px #fff;
}
#nav li ul li a{
    float: left;
    padding: 0px 5px;
    color: #333;
    text-transform: none;
}
#nav li ul li a:hover{
	background: #ccc;
}

#nav ul ul {
    top: auto;
}

#nav li ul ul {
    left: 12em;
    margin: 0px 0 0 10px;
}

#nav li:hover ul ul, 
#nav li:hover ul ul ul,
#nav li:hover ul ul ul ul {
    display: none;
}

#nav li:hover ul,
#nav li li:hover ul,
#nav li li li:hover ul,
#nav li li li li:hover ul {
    display: block;
}
 */
