#wrapper-list-video{
    width: 300px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
}

.list-news{
    width: 300px;
    height: 120px;
    border: 1px solid #CCC;
}
.list-news  ul{
    margin: 0px;
    padding: 0px;
}
.list-news  ul li {
    border-bottom: 1px dotted #999;
    font-size: 12px;
    list-style: none outside none;
    overflow: hidden;
    padding: 5px 5px 5px 15px;
    background: url("../images/arrow.png")no-repeat 5px 11px;
    
}
.list-news  ul li a{
	color: #333;
	font-weight: bold;
}
.list-news  ul li a:hover{
	color: #ff0000;
}
.list-news ul li .img {
    float: left;
    height: 40px;
    margin-right: 5px;
    overflow: hidden;
    width: 60px;
}
.list-news ul li .img img {
    min-height: 40px;
    width: 60px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
  }

.callbacks {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.callbacks li {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  }

.callbacks img {
  display: block;
  position: relative;
  z-index: 1;
  height: auto;
  width: 100%;
  border: 0;
  }

.callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  }

.callbacks_nav {
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  top: 52%;
  left: 0;
  opacity: 0.7;
  z-index: 3;
  text-indent: -9999px;
  overflow: hidden;
  text-decoration: none;
  height: 61px;
  width: 38px;
  background: transparent url("../images/themes.gif") no-repeat left top;
  margin-top: -45px;
  }

.callbacks_nav:active {
  opacity: 1.0;
  }

.callbacks_nav.next {
  left: auto;
  background-position: right top;
  right: 0;
  }
  
.box-search-menu-top div.menu-top {
	clear: both;
	
}

.box-search-menu-top div.menu-top ul.menu-item {
	clear: both;
	padding-top: 10px;
	float: left;
	width: 295px;
	
	list-style: none;
	text-align: right;
}

.box-search-menu-top div.menu-top ul.menu-item li {
	display: inline;
	color: #e5e5e5;
    position: relative;
}

.box-search-menu-top div.menu-top ul.menu-item li a {
	color: #e5e5e5;
	padding: 0px 6px;
	font-weight: bold;
}
.box-search-menu-top div.menu-top ul.menu-item li ul{
    position: absolute;
    top: 14px;
    left: 5px;
    width: 180px;
    background: #f2f2f2;
    visibility: hidden;   
}
.box-search-menu-top div.menu-top ul.menu-item li ul li{
    overflow: hidden;
    display: block;
}
.box-search-menu-top div.menu-top ul.menu-item li ul li a{
    text-align: left;
    float: left;
    padding: 5px;
    color: #333;
    font-weight: 100;
}
.box-search-menu-top div.menu-top ul.menu-item li ul li:hover{
    background: #CCC;
}
.box-search-menu-top div.menu-top ul.menu-item li ul li:hover a{
    color: #CC0000;
    text-decoration: none;
}
.box-search-menu-top div.menu-top ul.menu-item li.gt:hover ul{
    visibility: visible;
}

.box-search-menu-top div.language {
	float: left;
	margin-top: 8px;
	width: 82px;
}

.box-search {
	clear: both;
	margin-top: 0px;
	overflow: hidden;
	color: #eee;
	width: 213px;
	float: right;
}

/* .box-search p.advanced-search {
	float: left;
	overflow: hidden;
	padding-left: 10px;
}

.box-search p.advanced-search a {
	color: #eee;
	line-height: 30px;
} */

.box-search-menu-top div.bg-search-header {
	clear: both;
	float: left;
	background: url(../images/sprite.png) no-repeat 0px 0px;
	width: 200px;
	height: 30px;
	padding-top: 0px;
}

div.bg-search-header input[type="text"] {
	background: none;
	border: none;
	width: 150px;
	height:20px;
	color: #eee;
	padding:5px;
	font-size: 11px;
	margin-top:0px;
}

 div.bg-search-header input[type="submit"] {
	background: none;
	width: 32px;
	height: 30px;
	cursor: pointer;
	border: none;
 	float: right;
}