@charset "UTF-8";

/** 
 * Default CSS Drop-Down Menu Theme
 *
 * @file		default.css
 * @name		Default
 * @version		0.1.1
 * @type		transitional
 * @browsers	Windows: IE5+, Opera7+, Firefox1+
 *				Mac OS: Safari2+, Firefox2+
 *
 * @link		http://www.lwis.net/
 * @copyright	2008 Live Web Institute. All Rights Reserved.
 *
 * Module Classes: *.dir {} *.on {} *.open {} li.hover {} li.first {} li.last {}
 * Expected directory tag - li
 *
 */


/*-------------------------------------------------/
 * @section		Base Drop-Down Styling
 * @structure	ul (unordered list)
 *				ul li (list item)
 *				ul li a (links)
 *				/*\.class|(li|a):hover/
 * @level sep	ul
 */


ul.dropdown {
 	font-weight: bold;
	border-bottom: solid 1px #ccc;
    width: 100%;
	
}

	ul.dropdown li {
	 	
	 	color: #000;
        background: url(../images/line-menu-f.png) no-repeat scroll 100% 9px;
		text-transform: uppercase;
        overflow: hidden;
        display: inline-table;
        font-size: 12px;
        white-space: nowrap;
	}
    ul.dropdown li.last{
        background: none;
        overflow: hidden;
        display: inline-table;
    }
    ul.dropdown a{
        float: left;
        padding: 6px 10px;
        -webkit-padding: 6px 6px;
        overflow: hidden;
        display: inline-table;
        white-space: nowrap;
        

    }
    ul.dropdown li li a{
        width: 240px;
    }
    .chrome_nav ul.dropdown  a{
        padding: 6px 6px;    
    }
	ul.dropdown li.hover,
	ul.dropdown li:hover {
	 color: #000;
	
	}

	ul.dropdown a:link,
	ul.dropdown a:visited	{ color: #000; text-decoration: none;}
	ul.dropdown a:hover		{ color: #000;}
	ul.dropdown a:active	{ color: #ffa500;}


	/* -- level mark -- */

	ul.dropdown ul {
	 	width: 250px;
	 	margin-top: 1px;
		background: #ccc;
	}

		ul.dropdown ul li{
			font-weight: normal;
			border-bottom: dotted 1px #eee;
			text-transform: capitalize;
            background: none;
		}



/*-------------------------------------------------/
 * @section		Support Class `dir`
 * @level sep	ul, .class
 */


ul.dropdown *.dir {
 padding-right: 20px;
 background-image: url(../images/nav-arrow-down.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}


/* -- Components override -- */

ul.dropdown-horizontal ul *.dir {
 padding-right: 15px;
 background-image: url(../images/nav-arrow-right.png);
 background-position: 100% 50%;
 background-repeat: no-repeat;
}

ul.dropdown-upward *.dir {
 background-image: url(../images/nav-arrow-top.png);
}

ul.dropdown-vertical *.dir,
ul.dropdown-upward ul *.dir {
 background-image: url(../images/nav-arrow-right.png);
}

ul.dropdown-vertical-rtl *.dir {
 padding-right: 10px;
 padding-left: 15px;
 background-image: url(../images/nav-arrow-left.png);
 background-position: 0 50%;
}
